Projectem07UF4consumidorJavaSoap/src/META-INF/wsdl/localhost_8084/Projectem07UF4Soap/JugadorsWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://daw2.fje.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://daw2.fje.edu/" name="JugadorsWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://daw2.fje.edu/" schemaLocation="http://localhost:8084/Projectem07UF4Soap/JugadorsWebService?xsd=1" />
</xsd:schema>
</types>
<message name="moureJugador">
<part name="parameters" element="tns:moureJugador" />
</message>
<message name="moureJugadorResponse">
<part name="parameters" element="tns:moureJugadorResponse" />
</message>
<message name="iniciarJoc">
<part name="parameters" element="tns:iniciarJoc" />
</message>
<message name="iniciarJocResponse">
<part name="parameters" element="tns:iniciarJocResponse" />
</message>
<message name="acabarJoc">
<part name="parameters" element="tns:acabarJoc" />
</message>
<message name="acabarJocResponse">
<part name="parameters" element="tns:acabarJocResponse" />
</message>
<message name="pedrapapertisores">
<part name="parameters" element="tns:pedrapapertisores" />
</message>
<message name="pedrapapertisoresResponse">
<part name="parameters" element="tns:pedrapapertisoresResponse" />
</message>
<message name="consultarEstatPartida">
<part name="parameters" element="tns:consultarEstatPartida" />
</message>
<message name="consultarEstatPartidaResponse">
<part name="parameters" element="tns:consultarEstatPartidaResponse" />
</message>
<portType name="JugadorsWebService">
<operation name="moureJugador">
<input wsam:Action="http://daw2.fje.edu/JugadorsWebService/moureJugadorRequest" message="tns:moureJugador" />
<output wsam:Action="http://daw2.fje.edu/JugadorsWebService/moureJugadorResponse" message="tns:moureJugadorResponse" />
</operation>
<operation name="iniciarJoc">
<input wsam:Action="http://daw2.fje.edu/JugadorsWebService/iniciarJocRequest" message="tns:iniciarJoc" />
<output wsam:Action="http://daw2.fje.edu/JugadorsWebService/iniciarJocResponse" message="tns:iniciarJocResponse" />
</operation>
<operation name="acabarJoc">
<input wsam:Action="http://daw2.fje.edu/JugadorsWebService/acabarJocRequest" message="tns:acabarJoc" />
<output wsam:Action="http://daw2.fje.edu/JugadorsWebService/acabarJocResponse" message="tns:acabarJocResponse" />
</operation>
<operation name="pedrapapertisores">
<input wsam:Action="http://daw2.fje.edu/JugadorsWebService/pedrapapertisoresRequest" message="tns:pedrapapertisores" />
<output wsam:Action="http://daw2.fje.edu/JugadorsWebService/pedrapapertisoresResponse" message="tns:pedrapapertisoresResponse" />
</operation>
<operation name="consultarEstatPartida">
<input wsam:Action="http://daw2.fje.edu/JugadorsWebService/consultarEstatPartidaRequest" message="tns:consultarEstatPartida" />
<output wsam:Action="http://daw2.fje.edu/JugadorsWebService/consultarEstatPartidaResponse" message="tns:consultarEstatPartidaResponse" />
</operation>
</portType>
<binding name="JugadorsWebServicePortBinding" type="tns:JugadorsWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="moureJugador">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="iniciarJoc">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="acabarJoc">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="pedrapapertisores">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarEstatPartida">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="JugadorsWebService">
<port name="JugadorsWebServicePort" binding="tns:JugadorsWebServicePortBinding">
<soap:address location="http://localhost:8084/Projectem07UF4Soap/JugadorsWebService" />
</port>
</service>
</definitions>